<div class="col-sm-6">
  <h2><i class="fas fa-puzzle-piece"></i><%=t('newTask')%></h2>
</div>
<section class="content">
      <!-- Default box -->
      <div class="card">
        <div class="card-body">
        <%= form_with(model: tarefa, local: true) do |form| %>
          <% if tarefa.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(tarefa.errors.count, "error") %> prohibited this tarefa from being saved:</h2>
              <ul>
                <% tarefa.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title"><%=t('taskInformation')%></h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                  <i class="fas fa-minus"></i></button>
              </div>
            </div>
            <form action="tasks.html" method="post">
            <div class="card-body">
              
              <div class="form-group">
                <%= form.label t('taskDesc') %>
                <%= form.text_area :descricao, class:"form-control" , placeholder:t('taskTypeDesc') %>
              </div>
              <div class="form-group ">
              <%= form.label t('responsible') %>
              <%= form.select :usuario_id, Usuario.where(status:1).collect {|p| [ p.name, p.id ]},{},{:class=>'form-control'}%>
                 
              </div>
              <div class="form-group">
                 <%= form.label t('deadline') %><BR>
                <%= form.date_select :prazo, class:"form-control" %>
              </div>
              <div class="d-none">
                  <label>Status</label>
                  <%= form.select :status, [['Em Andamento', 'Em Andamento']], {},{:class=>'form-control'} %>
                </div>
              
              <div class="box-footer">
              <%= form.submit t('register'), class:"btn btn-success right"  %>
              <%= link_to t('cancel'), tarefas_path, type:'button', class: "btn btn-secondary" %>
              </div>

              
            <%end%>
            </div>
            <!-- /.card-body -->

          </div>
        </div>
        
        <!-- /.card-footer-->
      </div>
      <!-- /.card -->

    </section>
