<div class="col-sm-6">
  <h1><i class="fas fa-tasks"> </i> <%=t('tasks')%> </i></h1>
</div>
<section class="content">
  <div class="card">
    <div class="card-header">
      <div id="notice"><%= notice %></div>
        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
            <i class="fas fa-minus"></i></button>
          <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
            <i class="fas fa-times"></i></button>
        </div>
    </div>
  
    <div class="card-body p-0">
      <table class="table table-striped projects">
          <thead>
              <tr>
                  <th style="width: 1%">
                      #
                  </th>
                  <th style="width: 20%">
                      <%=t('taskDesc')%>
                  </th>
                  <th style="width: 20%">
                    <%=t('responsible')%>
                  </th>
                  <th>
                    <%=t('deadline')%>
                  </th>
                  <th style="width: 8%" class="text-center">
                      Status
                  </th>
                  <th style="width: 30%">
                  </th>
              </tr>
          </thead>
          <% @tarefas.each do |tarefa| %>
          <tbody>
              <tr>
                  <td>
                      #
                  </td>
                  <td>
                    <%= tarefa.descricao %>
                  </td>
                  <td>
                    <%# não sei se é a melhor forma para puxar nome %>
                    <%= Usuario.find(tarefa.usuario_id).name%>
                  </td>
                  <td>
                     <%= tarefa.prazo %>
                  </td>
                  <td class="project-state">
                      <span class="badge badge-warning"><%= tarefa.status %></span>
                  </td>
                  <td class="project-actions text-right">
                          
                            <%= link_to '<i class="fas fa-calendar-check"></i> Editar'.html_safe, edit_tarefa_path(tarefa), type:'button', class: "btn btn-success btn-sm" %>
                        
                            <%= link_to 'Excluir <i class="fas fa-pencil-alt"></i>'.html_safe, tarefa, method: :delete, class: "btn btn-info btn-sm", data: { confirm: 'Are you sure?' } %>
                            
                         

                            <%= link_to 'Concluir <i class="fas fa-share-square"></i>'.html_safe, tarefa, method: :concluir, class: "btn btn-danger btn-sm", data: { confirm: 'Are you sure ?' } %>
                            
                      </td>
              </tr>  
          </tbody>
        <% end %>
      </table>
    </div>
  </div>
 </section>
 <div class="row">
 <div class="col-md-12 text-right">
   <%= link_to t('newTask'), new_tarefa_path, class: "btn btn-primary" %>
 </div>
 </div>
 <BR><BR>
 <div class="row">
  <div class="card-body p-0">
        <table class="table table-striped projects">
            <thead>
                <tr>
                    <th style="width: 25%" colspan="5">
                        <%=t('taskDone')%>
                    </th>
                </tr>
            </thead>
            <% @tarefasDone.each do |tarefa| %>
            <tbody>
                <tr>
                    <td>
                      <%= tarefa.descricao %>
                    </td>
                    <td>
                      <%# não sei se é a melhor forma para puxar nome %>
                      <%= Usuario.find(tarefa.usuario_id).name%>
                    </td>
                    <td>
                      <%= tarefa.prazo %>
                    </td>
                    <td class="project-state">
                        <span class="badge badge-danger"><%= tarefa.status %></span>
                    </td>
                </tr>  
            </tbody>
          <% end %>
        </table>
      </div>
</div>
