
<div class="card">
<div class="card-body login-card-body">


<%= form_tag sessions_path do %>

    <div class="input-group mb-3">
        <%= text_field_tag :email, nil, placeholder: "Email", class:"form-control", id:'email' %>
    
      <div class="input-group-append">
        <div class="input-group-text">
          <span class="fas fa-envelope"></span>
        </div>
      </div>
    </div>

    <div class="input-group mb-3">
      <%= password_field_tag :password, nil, placeholder: t('password'), id:'password', class:"form-control" %>
      
      <div class="input-group-append">
        <div class="input-group-text">
          <span class="fas fa-lock"></span>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-8">
        <div class="icheck-primary">

        </div>
      </div>
      <div class="col-4">
        <%= submit_tag t('login'), class:'btn btn-primary btn-block', id:'submitButton'%>
      </div>
    </div>

    <% end %>

  <p class="mb-1">
    <!--<a href="forgot-password.html">Esqueci a minha senha...</a>-->
  </p>

</div>
<div class="d-flex justify-content-around">
  <div><%= link_to t('versionE'), locale: "en" %></div>
  <div><%= link_to t('versionP'), locale: "pt-BR" %></div>
</div>
</div>




    
    
